
.prev-slide {
    position: absolute;
    width: 50px;
    height: 270px;
    background-color: black;
    opacity: 0.6;
    color: white;
    border: 0px solid;
}

.next-slide {
    position: absolute;
    right: 13px;
    width: 50px;
    height: 270px;
    background-color: black;
    opacity: 0.6;
    color: white;
    border: 0px solid;
}
