
.sidebar {
    height: 100vh;
    width: 0vh;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgb(27, 27, 27);
    overflow-x: hidden;
    transition: 0.5s;
    transform: translateX(-100%);
    position: fixed;
}

.link { 
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
}
.link-container {
    position: absolute;
    left: 0;
}



.link-container :hover {
    width: 100%;
    background-color: rgb(63, 63, 63);
}


.sidebar-head {
    display: flex;
    justify-content: flex-end;
    position: relative;
    .x-item {
        transform: scale(120%);
        color: white;
        text-decoration: none;
        padding: 24px 0px;
    }

    .hr {
        width: 40vh;
        height: 3px;
        background-color: black;
        position: absolute;
        top: 60px;
        left: -24px;
    }
}

